{% if current_user.is_authenticated %}
<p>Welcome, {{ current_user.name }}</p> <img height="50" width="50" src="{{ current_user.avatar }}" />
{% endif %}

{% block nav %}
<p><a href="{{ url_for('all_songs') }}">See all songs</a></p>
<p><a href="{{ url_for('all_feels') }}">See all feelings I entered</a></p>
<p><a href="{{ url_for('index') }}">?</a></p>
<p><a href="{{ url_for('logout') }}">Log out</a></p>
<p><a href="{{ url_for('login') }}">Log out</a></p>
{% endblock %}

{% block content %}
<div>
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
</div>
{% endblock %}
